@font-face {
  font-family: 'GolosText';
  src: url('../assets/fonts/GolosText.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('../assets/fonts/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather-Regular';
  src: url('../assets/fonts/Merriweather-Regular.ttf') format('truetype');
}

:root {
  /* colors */
  --color-light: #ffffff;
  --color-dark: #313131;
  --color-primary: #1f1f1f;
  --color-primary-hover: #fbce51;
  --color-secondary: #f54932;
  --color-logo: #595653;
  --color-logo-vanilla-shadow: #f7df1eaa;
  --color-button-hover: #3057a2;

  /* fonts */
  --font-GolosText: 'GolosText';
  --font-Merriweather-Bold: 'Merriweather-Bold';
  --font-Merriweather-Regular: 'Merriweather-Regular';

  --index: calc(1vw + 1vh);
}
