@import './_variables.css';
@import './header.css';
@import './marquee.css';
@import './tourney.css';
@import './stages.css';
@import './players.css';
@import './footer.css';

body {
  font-family: var(--font-GolosText);
  color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Merriweather-Regular);
  text-transform: uppercase;
}

.content-grid {
  --padding-inlain: 1.2rem;
  --content-max-width: 1222px;

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inlain), 1fr)
    [content-start] min(100% - (var(--padding-inlain) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--padding-inlain), 1fr) [full-width-end];
}

.content-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}

.pagination__btn {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
}

.pagination__btn:hover {
  background: var(--color-primary-hover);
}

.pagination__btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 16px;
  border-right: 2px solid var(--color-light);
  border-bottom: 2px solid var(--color-light);
  transform: translate(-70%, -50%) rotate(-45deg);
  z-index: 2;
}

.pagination__btn:disabled {
  background: var(--color-primary);
  opacity: 0.2;
  pointer-events: none;
}

.pagination__btn--prev {
  transform: rotate(180deg);
}

@media only screen and (max-width: 849px) {
  .pagination__btn {
    width: 36px;
    height: 36px;
  }
  .pagination__btn::after {
    width: 10px;
    height: 10px;
  }
}
