@import './_variables.css';

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;
  font-family: var(--font-GolosText-Regular);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
  .author:hover {
    color: var(--color-primary-hover);
  }
  button,
  .gitRepo {
    background-color: var(--color-button-light);
  }
}
